body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #333333;
  background-color: #eee;
  text-transform: uppercase;
}

img {
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

.main-header {
  min-height: 56px;
  position: relative;
}

.navigation ul {
  margin: 0;
  padding-left: 0;
}

.navigation li {
  width: 168px;
  /*list-style-type: none;*/
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation .left {
  float: left;
  padding-left: 72px;
  text-align: left;
}

.navigation .right {
  float: right;
  padding-right: 72px;
  text-align: right;
}

.navigation a {
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  color: black;
}

.navigation-active a {
  color: #766357;
}

.top-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  z-index: 100;
}

.main-logo {
  position: relative;
}

.main-logo .text {
  position: absolute;
  top: 76px;
  left: 371px;
}

.main-logo .background {
  display: block;
}

.main-logo .bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.main-title {
  min-height: 132px;
  padding-top: 47px;
  padding-bottom: 37px;
  /*vertical-align: top;*/
  /*background-color: rgba(50, 0, 0, 0.3);*/
}


.main-title h1 {
  text-align: center;
  /*text-transform: uppercase;*/
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.main-title p {
  margin-top: 29px;
  text-align: center;
  /*text-transform: uppercase;*/
}

.features-item {
  width: 400px;
  min-height: 168px;
  padding-top: 48px;
  padding-bottom: 40px;
}

.features-item .title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  padding-left: 125px;
  padding-right: 125px;
  font-size: 21px;
  text-align: center;
}

.features-item .num {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  text-align: center;
}

.features-item .desc {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

.features-img {
  display: block;
  margin: 0;
}

.features-block1 .features-item {
  float: left;
  color: #fff;
  background-color: #81b3d2;
}

.features-block1 .features-img {
  position: relative;
  float: right;
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.features-img img {
  position: relative;
  bottom: 0;
  top: 0;
  margin: 0 auto;
}

.features-block2 {
  font-size: 0;
}

.features-advices {
  display: inline-block;
  position: relative;
  width: 400px;
  min-height: 330px;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
}

.features-advices .pictogram {
  position: absolute;
  left: 163px;
  top: 61px;
}

.features-advices:first-child .pictogram {
  left: 162px;
  top: 60px;
}

.features-advices:last-child .pictogram {
  left: 168px;
  top: 56px;
}

.features-advices .title {
  margin-top: 162px;
  font-size: 21px;
}

.features-advices .desc {
  margin: 0;
  margin-top: 23px;
  padding-left: 58px;
  padding-right: 58px;
}


.features-block3 .features-img {
  position: relative;
  float: left;
  width: 800px;
  height: 256px;
  overflow: hidden;
}

.features-block3 .features-item {
  float: right;
  color: #fff;
  background-color: #81b3d2;
}

.features-block3 p.desc {
  width: 320px;
}

.features-block4 .features-item {
  float: left;
  background-color: #f2f2f2;
}

.proposal {
  min-height: 232px;
  padding-top: 59px;
  text-align: center;
  /*position: relative;*/
}

.proposal em {
  display: inline-block;
  vertical-align: top;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;
}

.proposal .lines {
  display: inline-block;
  margin: 0 200px;
  vertical-align: top;
  line-height: 24px;
}

.proposal p {
  margin-top: 28px;
}

/*Кнопки*/
.search-form-trigger {
  display: inline-block;
  width: 568px;
  height: 86px;
  margin-top: 32px;
  padding: 0;
  vertical-align: top;
  text-align: center;

  border: none;
  cursor: pointer;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: white;
  background-color: #766357;
  text-transform: uppercase;
}

.search-form {
  padding: 55px;
  font-weight: bold;
  background-color: white;
  font-size: 0;
}

.search-form input {
  display: inline-block;
  vertical-align: top;

  margin-top: 0;
  margin-bottom: 30px;

  border: 0;

  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: black;
  background-color: #eee;
  text-transform: uppercase;
}

.search-form label {
  display: inline-block;
  vertical-align: top;

  width: 111px;
  padding-top: 9px;

  font-size: 14px;
}

.search-form label[for="child_num"] {
  width: 64px;
  padding-left: 55px;
}

.search-form .date_in,
.search-form .date_out {
  /*position: relative;*/
  width: 332px;
  height: 36px;
  padding-left: 13px;
  background: #eee url("../img/date_form.png") no-repeat 317px center;
}

/*.search-form::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}*/

.search-form input[name="adult_more"],
.search-form input[name="child_more"] {
  width: 38px;
  height: 38px;
  font-size: 21px;
  background: #eee url("../img/plus.png") no-repeat center;
}

.search-form input[name="adult_less"],
.search-form input[name="child_less"] {
  width: 38px;
  height: 38px;
  font-size: 21px;
  background: #eee url("../img/minus.png") no-repeat center;
}

.search-form .adult_num,
.search-form .child_num {
  width: 36px;
  height: 36px;
  text-align: center;
}

.search-form input.search-form-btn {
  width: 458px;
  height: 58px;
  margin-top: 24px;
  margin-bottom: 0;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: white;
  background-color: #81B3D2;
}

.map-block {
  position: relative;
}

.form-block {
  position: absolute;
  left: 356px;
  z-index: 100;
  width: 568px;
  height: 395px;
}

.footer-contacts {
  float: left;
  width: 400px;
  min-height: 73px;
  padding-top: 47px;
  text-align: center;
}

.footer-social {
  float: left;
  width: 397px;
  padding-top: 36px;
  padding-left: 3px;
  text-align: center;
  font-size: 0px;
}

.footer-copyright {
  float: right;
  width: 400px;
  font-size: 0px;
}

.footer-contacts a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.social-btn {
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
}

.footer-copyright p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: black;
  margin: 0;
  margin-left: 103px;
  margin-top: 49px;
}

.footer-copyright img {
  display: inline-block;
  margin-left: 2px;
  margin-top: 41px;
}


/*CATALOG*/
.filters {
  min-height: 217px;
  padding-left: 72px;
  color: white;
  background: #5080aa url("../img/filter_background2.jpg") no-repeat;
}

.filters-form h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: bold;
}

.filters-infra,
.filters-type {
  float: left;
  width: 200px;
  margin-right: 53px;
  margin-top: 28px;
}

.filters-infra label,
.filters-type label {
  display: block;
  margin-bottom: 25px;

  position: relative;
  cursor: pointer;
}

.filters-infra label {
  padding-left: 38px;
}

.filters-type label {
  padding-left: 43px;
}

input[type="checkbox"] + label::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: -2px;
  background-image: url("../img/unchecked.png");
}

input[type="checkbox"]:checked + label::before {
  content: "";
  width: 26px;
  height: 22px;
  position: absolute;
  left: 0;
  top: -2px;
  background-image: url("../img/checked.png");
}

.filters-form input[type="checkbox"] {
  display: none;
}

.results-stats {
  float: left;
  width: 164px;
  min-height: 55px;
  margin-left: 71px;
  padding-top: 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.results-stats span {
  display: inline-block;
  margin-left: 5px;
}

.sort-type {
  float: left;
  padding-top: 36px;
  width: 500px;
  font-size: 0;
  line-height: 18px;
  text-transform: none;
  color: black;
  /*vertical-align: top;*/
}

.sort-type ul {
  display: inline-block;
  margin: 0;
  padding-left: 0;
  /*list-style-type: none;*/
  list-style: none;
  vertical-align: top;
}

.sort-type p {
  /*float: left;*/
  display: inline-block;
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
  vertical-align: top;
}

.sort-type li {
  /*float: left;*/
  display: inline-block;
  margin-right: 33px;
  font-size: 12px;
  vertical-align: top;
}

.sort-type a {
  color: black;
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.sort-type .active {
  color: #81b3d2;
  border-bottom: none;
}

.sort-direct {
  float: right;
  width: 200px;
  padding-top: 39px;
  margin-right: 73px;
  font-size: 0;
  text-align: right;
  /*vertical-align: top;*/
}

.sort-direct img {
  /*float: right;*/
  display: inline-block;
  margin-left: 12px;
  vertical-align: top;
}

/*search results*/
.search-results-item {
  min-height: 149px;
  /*min-height: 89px;*/
  /*padding: 30px 72px;*/
  border-top: 1px solid #766357;
}

.search-results-item:last-child {
  border-bottom: 1px solid #766357;
}

.search-results-item .photo {
  float: left;
  width: 135px;
  margin-left: 72px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.search-results-item .description {
  float: left;
  width: 400px;
  margin-left: 30px;
  margin-top: 28px;
  font-size: 0;
  vertical-align: top;
}

.search-results-item .result-name {
  margin: 0;
  font-size: 21px;
  /*line-height: 26px;*/
  font-weight: bold;
}

.search-results-item .result-type,
.search-results-item .result-price {
  display: inline-block;
  margin-top: 9px;
  font-size: 14px;
}

.search-results-item .result-type {
  width: 100px;
  margin-right: 16px;
}

.search-results-item .detailes,
.search-results-item .booking {
  display: inline-block;
  height: 23px;
  margin-top: 9px;
  padding-top: 3px;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  color: inherit;
}

.search-results-item .detailes {
  width: 110px;
  margin-right: 6px;
  font-weight: bold;
  color: white;
  background-color: #81B3D2;
}

.search-results-item .booking {
  width: 142px;
  font-weight: bold;
  color: white;
  background-color: #766357;
}

.search-results-item .result-rating {
  float: right;
  width: 110px;
  margin-right: 72px;
  padding-top: 29px;
  text-align: right;
  font-size: 0;
  vertical-align: top;
}

.search-results-item .rating-stars {
  display: inline-block;
}

.search-results-item .rating-desc {
  display: inline-block;
  width: 110px;
  height: 24px;
  margin-top: 37px;
  padding-top: 3px;
  /*line-height: 28px;*/
  font-size: 14px;
  text-align: center;
  color: #666666;
  background-color: #eee;
}

/*MegaFilter*/
.filter-range {
  float: right;
  width: 317px;
  margin-right:72px;
  margin-top: 28px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 79%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
