body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  font-weight: normal;
  /*line-height: 1;*/
  color: #333333;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  height: 56px;
  text-transform: uppercase;
  /* подсветка блока */
  /*background-color: rgba(150, 0, 0, 0.5);*/
}

.navigation ul {
  padding-left: 0;
}

.navigation li {
  width: 167px;
  list-style-type: none;
  padding-top: 16px;
  padding-bottom: 16px;
  /*background-color: rgba(50, 0, 0, 0.5);*/
}

.navigation li:nth-child(1),
.navigation li:nth-child(2) {
  float: left;
  padding-left: 72px;
  text-align: left;
}

.navigation li:nth-child(3),
.navigation li:nth-child(4) {
  float: right;
  padding-right: 72px;
  text-align: right;
}

.navigation a {
  font-weight: bold;
  color: black;
}

.top-logo {
  /*не блок. не работает*/
  margin: 0 auto;
}

.main-logo {
  /*width: 1200px;*/
  /*исправить*/
  height: 508px;
}

/*.main-logo .text {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.main-logo .bottom {
  margin: 0 auto;
  margin-bottom: 0;
}*/

.main-title {
  padding-top: 47px;
  padding-bottom: 54px;
  background-color: rgba(50, 0, 0, 0.3);
}


.main-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.main-title p {
  text-align: center;
  text-transform: uppercase;
}

.features h2 {
  margin: 0 auto;
}

/*переделать в отдельный класс*/
.features-one,
.features-two,
.features-three,
.features-foor,
.features-five {
  padding-top: 38px;
  padding-left: 10px;
}

.features-one {
  float: left;
  width: 390px;
  height: 200px;
  background-color: rgba(0, 50, 0, 0.3);
}

.features-one-img {
  float: right;
  margin: 0;
}

.features-advices {
  float: left;
  width: 400px;
  padding-top: 160px;
  min-height: 170px;

  text-align: center;
  background-color: rgba(0, 0, 50, 0.3);
}

.features-two-img {
  float: left;
  margin: 0;
}

.features-two {
  float: right;
}
