body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #333333;
}

.main-title h1 {
  font-size: 21px;
  font-weight: bold;
  color: black;
}

.navigation a{
  font-weight: bold;
  color: black;
}
